<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.intelligenceflow.intelligenceflowd</string>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.Visit</key>
	<true/>
	<key>com.apple.NPKCompanionAgent.client</key>
	<true/>
	<key>com.apple.Pasteboard.background-access</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.aned.private.ANEAccess.allow</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.intelligenceflow.intelligenceflowd</string>
	<key>com.apple.assistant.cdm.client</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.avfoundation.allow-identifying-output-device-details</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.corespotlight.privateindex.unsandboxed</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.fileprovider.acl-write</key>
	<true/>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.generativeexperiences.availabilityService</key>
	<true/>
	<key>com.apple.intelligenceflow.context</key>
	<true/>
	<key>com.apple.intelligenceflow.querydecoration</key>
	<true/>
	<key>com.apple.intelligenceflow.uiContext</key>
	<true/>
	<key>com.apple.intelligenceplatform.Knosis</key>
	<true/>
	<key>com.apple.intelligenceplatform.View</key>
	<true/>
	<key>com.apple.intelligenceplatform.knosis.indexes.read-only</key>
	<array>
		<string>liveGlobalKnowledgeIndex</string>
		<string>staticGlobalKnowledgeIndex</string>
		<string>stableGraphIndex</string>
		<string>eventGraphIndex</string>
		<string>ontologyIndex</string>
	</array>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.intents.uiextension.discovery</key>
	<true/>
	<key>com.apple.linkd.transcript.privileged</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.place_inference</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediaanalysisd.client</key>
	<true/>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.modelcatalog.full-access</key>
	<true/>
	<key>com.apple.modelmanager.inference</key>
	<true/>
	<key>com.apple.passd.library</key>
	<true/>
	<key>com.apple.passd.payment</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.pegasus.context</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appintents.extension-host</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.MorphunData</string>
		<string>com.apple.MobileAsset.TempMorphunData</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.VoiceResources</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAttentionAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNLOverrides</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDictationAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNL</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrHammer</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriExperienceCam</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriInferredHelpfulness</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriTextToSpeech</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrAssistant</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriFindMyConfigurationFiles</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrUaap</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingMorphun</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDialogAssets</string>
		<string>com.apple.MobileAsset.UAF.Sage.IFPlannerOverrides</string>
		<string>com.apple.MobileAsset.UAF.Sage.IFPlanner</string>
		<string>com.apple.MobileAsset.UAF.FM.GenerativeModels</string>
		<string>com.apple.MobileAsset.UAF.FM.Overrides</string>
	</array>
	<key>com.apple.private.assets.bypass-asset-types-check</key>
	<true/>
	<key>com.apple.private.assetsd.xpcstore_restricted.access</key>
	<array>
		<string>photos.scene</string>
		<string>photos.person</string>
		<string>photos.face</string>
	</array>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.intelligenceflow.intelligenceflowd</string>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>Location.PointOfInterest.Category</string>
		<string>Motion.ObservedBehavior</string>
		<string>App.InFocus</string>
		<string>App.Install</string>
		<string>Motion.TripSegment</string>
		<string>Device.Display.Backlight</string>
		<string>Device.Wireless.Bluetooth</string>
		<string>Media.NowPlaying</string>
		<string>HealthKitWorkout</string>
		<string>ContextualUnderstanding.AmbientLight</string>
		<string>Photos.Share</string>
		<string>Device.Power.PluggedIn</string>
		<string>POICategory</string>
		<string>InferredMode</string>
		<string>ContextualUnderstanding.SoundAnalysis</string>
		<string>ContextualUnderstanding.PeopleDiscovery</string>
		<string>ContextualUnderstanding.PhysicalSocial</string>
		<string>AppLaunch</string>
		<string>Device.Power.LowPowerMode</string>
		<string>Device.Power.BatteryLevel</string>
		<string>Device.Wireless.WiFi</string>
		<string>Device.Wireless.Bluetooth</string>
		<string>NowPlaying</string>
		<string>Workout</string>
		<string>Device.Wireless.AirplaneMode</string>
		<string>CarPlay</string>
		<string>AppIntent</string>
		<string>Device.ScreenLocked</string>
		<string>Device.Power.PluggedIn</string>
		<string>Location.MicroLocationVisit</string>
		<string>HomeKitClientAccessoryControl</string>
		<string>Location.HashedCoordinates</string>
		<string>Motion.Activity</string>
		<string>Location.Semantic</string>
		<string>Location.Visit</string>
		<string>UserFocus.ComputedMode</string>
		<string>Device.Metadata</string>
	</array>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>IntelligenceFlow.JointResolverTelemetry</string>
		<string>IntelligenceEngine.Interaction.Donation</string>
		<string>IntelligenceFlow.PlanResolutionTelemetry</string>
		<string>IntelligenceFlow.QueryDecorationTelemetry</string>
		<string>IntelligenceFlow.Telemetry</string>
		<string>IntelligenceFlow.ResponseGeneration</string>
		<string>IntelligenceFlow.Experimentation</string>
		<string>IntelligenceFlow.IFRequestTelemetry</string>
		<string>PostSiriEngagement</string>
		<string>Siri.PostSiriEngagement</string>
		<string>Siri.Remembers.InteractionHistory</string>
		<string>Siri.Remembers.AssistantHistory</string>
		<string>Siri.Remembers.MessageHistory</string>
		<string>Siri.Remembers.CallHistory</string>
		<string>Siri.FeedbackLearning.UserInteractions</string>
		<string>SiriExecution</string>
		<string>Photos.AutonamingSuggestions.Feedback</string>
		<string>Sage.Transcript</string>
		<string>IntelligenceFlow.Transcript.Datastream</string>
		<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
		<string>IntelligenceFlow.ExecutorTelemetry</string>
	</array>
	<key>com.apple.private.calendar.allow-suggestions</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.email</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.shortcuts</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.shortcuts</string>
	</array>
	<key>com.apple.private.intelligenceplatform.views.read-only</key>
	<array>
		<string>defaultResolverInteractions</string>
		<string>visualIdentifier</string>
		<string>bundleIdMap</string>
		<string>entitySimilarityFeatures</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.photoanalysisd.access</key>
	<true/>
	<key>com.apple.private.photos.XPCStoreOptIn</key>
	<true/>
	<key>com.apple.private.photos.service.multilibrary</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.restricted-application-groups</key>
	<array>
		<string>group.com.apple.intelligenceflow</string>
	</array>
	<key>com.apple.private.security.storage.MobileAssetGenerativeModels</key>
	<true/>
	<key>com.apple.private.security.storage.SiriFeatureStore</key>
	<true/>
	<key>com.apple.private.security.storage.SiriReferenceResolution</key>
	<true/>
	<key>com.apple.private.security.storage.SiriVocabulary</key>
	<true/>
	<key>com.apple.private.security.storage.os_eligibility.readonly</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-external-audio-recording</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-internal-audio-recording</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-remote-recognition</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-signature-generation</key>
	<true/>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServicePhotosAdd</string>
		<string>kTCCServiceReminders</string>
		<string>kTCCServiceSpeechRecognition</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.proactive.PersonalizationPortrait.Contact</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Location.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Topic.readOnly</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.proactive.sports.xpc</key>
	<true/>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.rootless.storage.shortcuts</key>
	<true/>
	<key>com.apple.runningboard.assertions.shortcuts</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.intelligenceflow</string>
		<string>group.is.workflow.my.app</string>
		<string>group.is.workflow.shortcuts</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/MobileAsset/AssetsV2/</string>
		<string>/private/var/mobile/Library/Trial/NamespaceDescriptors/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/421/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/422/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/750/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/961/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/1100/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/1101/</string>
		<string>/private/var/mobile/Library/com.apple.modelcatalog/sideload/</string>
		<string>/private/var/MobileAsset/PreinstalledAssetsV2/InstallWithOs/com_apple_MobileAsset_UAF_FM_GenerativeModels/</string>
		<string>/private/var/MobileAsset/PreinstalledAssetsV2/InstallWithOs/com_apple_MobileAsset_UAF_FM_Overrides/</string>
		<string>/System/Library/PreinstalledAssetsV2/RequiredByOs/com_apple_MobileAsset_UAF_FM_GenerativeModels/</string>
		<string>/System/Library/PreinstalledAssetsV2/RequiredByOs/com_apple_MobileAsset_UAF_FM_Overrides/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Trial/</string>
		<string>/Library/Shortcuts/QuarantineAsset/</string>
		<string>/Library/com.apple.PrivacyDisclosure/</string>
		<string>/Library/UnifiedAssetFramework</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Assistant/SiriReferenceResolution/</string>
		<string>/Library/IntelligencePlatform/</string>
		<string>/Library/IntelligenceFlow/</string>
		<string>/Library/Caches/com.apple.intelligenceflow.intelligenceflowd/</string>
		<string>/Library/IdentityServices/files/</string>
		<string>/Media/</string>
		<string>/Library/Shortcuts/</string>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/Library/Logs/com.apple.FeatureStore/</string>
		<string>/Library/Assistant/SiriVocabulary/</string>
		<string>/Library/Assistant/PrivateLearning/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AGXDeviceUserClient</string>
		<string>H11ANEInDirectPathClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.TextInput.rdt</string>
		<string>com.apple.assistant.cdm</string>
		<string>com.apple.remindd</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.CellularPlanDaemon.xpc</string>
		<string>com.apple.MapKit.SnapshotService</string>
		<string>com.apple.announced.server</string>
		<string>com.apple.biome.compute.source</string>
		<string>com.apple.biome.compute.source.user</string>
		<string>com.apple.biome.compute.publisher.service</string>
		<string>com.apple.biome.compute.publisher.service.user</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.coremedia.endpoint.xpc</string>
		<string>com.apple.coremedia.routediscoverer.xpc</string>
		<string>com.apple.coremedia.routingcontext.xpc</string>
		<string>com.apple.coremedia.volumecontroller.xpc</string>
		<string>com.apple.extensionkitservice</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.homed.xpc</string>
		<string>com.apple.mediaanalysisd.service.public</string>
		<string>com.apple.nehelper</string>
		<string>com.apple.nesessionmanager</string>
		<string>com.apple.posterboardservices.dataModel</string>
		<string>com.apple.posterboardservices.services</string>
		<string>com.apple.sessionservices</string>
		<string>com.apple.sharingd</string>
		<string>com.apple.shortcuts.view-service</string>
		<string>com.apple.siri.vocabularyupdates</string>
		<string>com.apple.sirittsd</string>
		<string>com.apple.speech.localspeechrecognition</string>
		<string>com.apple.translationd</string>
		<string>com.apple.siri.VoiceShortcuts.xpc</string>
		<string>com.apple.proactive.sports.xpc</string>
		<string>com.apple.NPKCompanionAgent.library</string>
		<string>com.apple.parsecd</string>
		<string>com.apple.payment.all-access</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.cmfsyncagent.embedded.auth</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.email.maild</string>
		<string>com.apple.appleneuralengine</string>
		<string>com.apple.siriknowledged.koa.donate</string>
		<string>com.apple.mediaanalysisd.analysis</string>
		<string>com.apple.suggestd.events</string>
		<string>com.apple.suggestd.contacts</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.proactive.PersonalizationPortrait.Contact</string>
		<string>com.apple.proactive.PersonalizationPortrait.Location.readOnly</string>
		<string>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</string>
		<string>com.apple.proactive.PersonalizationPortrait.Topic.readOnly</string>
		<string>com.apple.calaccessd</string>
		<string>com.apple.contactsd</string>
		<string>com.apple.photos.service</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.siriknowledged.koa.donate</string>
		<string>com.apple.biome.access.user</string>
		<string>com.apple.linkd.transcript</string>
		<string>com.apple.linkd.registry</string>
		<string>com.apple.routined.registration</string>
		<string>com.apple.locationd.registration</string>
		<string>com.apple.locationd.synchronous</string>
		<string>com.apple.ctcategories.service</string>
		<string>com.apple.siri.context.service</string>
		<string>com.apple.siri-distributed-evaluation</string>
		<string>com.apple.BTServer.le</string>
		<string>com.apple.assistant.dictation</string>
		<string>com.apple.audio.AudioQueueServer</string>
		<string>com.apple.coremedia.mutablemovie.xpc</string>
		<string>com.apple.email.maild</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.pasteboard.pasted</string>
		<string>com.apple.shazamd</string>
		<string>com.apple.siri.VoiceShortcuts.xpc</string>
		<string>com.apple.TextInput.rdt</string>
		<string>com.apple.mobileasset.autoasset</string>
		<string>com.apple.mobileassetd.v2</string>
		<string>com.apple.intelligenceplatform.View</string>
		<string>com.apple.intelligenceflow.context</string>
		<string>com.apple.intelligenceflow.uiContext</string>
		<string>com.apple.intelligenceflow.querydecoration</string>
		<string>com.apple.intelligenceplatform.Knosis</string>
		<string>com.apple.modelmanager</string>
		<string>com.apple.modelcatalog.catalog</string>
		<string>com.apple.siri.uaf.service</string>
		<string>com.apple.ProgressReporting</string>
		<string>com.apple.searchd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>kCFPreferencesAnyApplication</string>
		<string>com.apple.mobilecal</string>
		<string>com.apple.AppSupport</string>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.parsecd</string>
		<string>com.apple.SpeakSelection</string>
		<string>com.apple.assistant.support</string>
		<string>com.apple.assistant</string>
		<string>com.apple.GenerativeFunctions.GenerativeFunctionsInstrumentation</string>
		<string>com.apple.UnifiedAssetFramework</string>
		<string>com.apple.modelcatalog.ajax</string>
		<string>com.apple.gms.availability</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.intelligenceflow</string>
		<string>com.apple.humanunderstanding</string>
		<string>com.apple.siri.shortcuts</string>
		<string>com.apple.shortcuts</string>
		<string>group.is.workflow.my.app</string>
		<string>com.apple.siri.PostSiriEngagement</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.personal-information.calendars</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.security.ts.ane-client</key>
	<true/>
	<key>com.apple.security.ts.asset-access</key>
	<true/>
	<key>com.apple.security.ts.geoservices</key>
	<true/>
	<key>com.apple.security.ts.mach-task-name</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.opengl-or-metal</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.intelligenceflow.intelligenceflowd</string>
	<key>com.apple.shortcuts.dialogpresentation</key>
	<true/>
	<key>com.apple.shortcuts.stepwise-execution</key>
	<true/>
	<key>com.apple.shortcuts.variable-injection</key>
	<true/>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siriknowledged.koa.donate.internal</key>
	<true/>
	<key>com.apple.spotlight.entitledattributes</key>
	<true/>
	<key>com.apple.spotlight.photos.entitledattributes</key>
	<true/>
	<key>com.apple.spotlight.search</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>1150</string>
		<string>1151</string>
		<string>1152</string>
		<string>1160</string>
		<string>1161</string>
		<string>1170</string>
		<string>1180</string>
		<string>1760</string>
		<string>1761</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
