<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>143531244</string>
	<key>adi-client</key>
	<string>4127693656</string>
	<key>application-identifier</key>
	<string>com.apple.appleidsetupd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.AppSSO.service-xpc</key>
	<true/>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.appleidsetup.repair.client</key>
	<true/>
	<key>com.apple.appletv.pbs.user-presentation-service-access</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.owner</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.authkit.property.companion-key-envelope</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cdp.followup</key>
	<true/>
	<key>com.apple.cdp.statemachine</key>
	<true/>
	<key>com.apple.cdp.utility</key>
	<true/>
	<key>com.apple.cdp.walrus</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.devicecheckd</key>
	<true/>
	<key>com.apple.familycircle.agent</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>Removal</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.adid</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/AppleIDSetupUIService.app/AppleIDSetupUIService</string>
	</dict>
	<key>com.apple.private.game-center</key>
	<array>
		<string>Account</string>
	</array>
	<key>com.apple.private.game-center.bypass-authentication</key>
	<true/>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.avconference.avctester</string>
		<string>com.apple.private.alloy.remoteappleidsetup</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.avconference.avctester</string>
		<string>com.apple.private.alloy.remoteappleidsetup</string>
	</array>
	<key>com.apple.private.ids.registration</key>
	<array>
		<string>com.apple.ess</string>
		<string>com.apple.madrid</string>
	</array>
	<key>com.apple.private.managedclient.mdm.unenroll</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.appleidsetup</string>
		</dict>
	</array>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceBluetoothAlways</string>
		<string>kTCCServiceBluetoothPeripheral</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.appleidsetup.notifications</string>
	</array>
	<key>com.apple.private.userprofiles.assertion-domains</key>
	<array>
		<string>SuppressAccountChangeEventHandling</string>
	</array>
	<key>com.apple.private.userprofiles.read</key>
	<true/>
	<key>com.apple.private.userprofiles.read-write</key>
	<true/>
	<key>com.apple.private.userprofiles.sync-manager</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/</string>
		<string>/Library/Preferences/com.apple.networkd.plist</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.security.octagon</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.absinthed</string>
		<string>com.apple.absd</string>
		<string>com.apple.adid</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.devicecheckd</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.ak.puffin.xpc</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.apsd</string>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.hsa-authentication-server</string>
		<string>com.apple.ak.authorizationservices.xpc</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.server.bluetooth.le.att.xpc</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.aa.daemon.xpc</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
		<string>com.apple.rapport</string>
		<string>com.apple.usernotifications.listener</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.userprofiles</string>
		<string>com.apple.PineBoardRiseServices</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/Library/Preferences/com.apple.networkd.plist</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ak.anisette.xpc</string>
	</array>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.springboard-services</key>
	<true/>
	<key>com.apple.security.ts.system-info</key>
	<array>
		<string>net.link.addr</string>
	</array>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.usermanagerd.persona.create</key>
	<true/>
	<key>com.apple.usermanagerd.persona.delete</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.hap.pairing</string>
		<string>com.apple.pairing</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
