<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>com.apple.AXMediaUtilitiesService-access</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.DragUI.accessibility</key>
	<true/>
	<key>com.apple.Pasteboard.trusted-authentication-message-request</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.accessibility.AXSettingsShortcuts</key>
	<true/>
	<key>com.apple.accessibility.SpeakThisServices</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accessibility.physicalinteraction.client</key>
	<true/>
	<key>com.apple.accessibility.zoom.client</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.commandandcontrol</key>
	<true/>
	<key>com.apple.coreaudio.allow-opus-codec</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.private.CarPlayServices.icon-layout</key>
	<true/>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.arkit.authorization</key>
	<array>
		<string>handTracking</string>
		<string>eyeTracking</string>
	</array>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.MacinTalkVoiceAssets</string>
		<string>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
	</array>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.samplewhileabsent</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.app</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.sociallayer.accessibility</key>
	<true/>
	<key>com.apple.private.sociallayer.highlights</key>
	<true/>
	<key>com.apple.private.sysdiagnose</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tvos.system-navigation</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.commandandcontrol</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.audio.SystemSoundServer-iOS</string>
		<string>com.apple.CarPlayApp.service</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOHIDResourceDeviceUserClient</string>
	</array>
	<key>com.apple.security.ts.springboard-services</key>
	<true/>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siri.activation</key>
	<true/>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.springboard.activateassistant</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.requestScene-daemon</key>
	<true/>
	<key>com.apple.springboard.system-component-layout-monitoring</key>
	<true/>
	<key>com.apple.surfboard-prevent-homeui-from-hiding-when-launching</key>
	<true/>
	<key>com.apple.surfboard-ui.client</key>
	<true/>
	<key>com.apple.surfboard.allow-any-custom-shader</key>
	<true/>
	<key>com.apple.surfboard.anchor-transform-sync</key>
	<true/>
	<key>com.apple.surfboard.application-service-client</key>
	<true/>
	<key>com.apple.surfboard.chrome-customization</key>
	<true/>
	<key>com.apple.surfboard.disable-auto-show-homeui-when-closed</key>
	<true/>
	<key>com.apple.surfboard.disable-realitychrome</key>
	<true/>
	<key>com.apple.surfboard.disables-scene-snapshots</key>
	<true/>
	<key>com.apple.surfboard.do-not-hide-during-passthrough-reveal</key>
	<true/>
	<key>com.apple.surfboard.drag-and-drop-ignored</key>
	<true/>
	<key>com.apple.surfboard.entityaccess</key>
	<true/>
	<key>com.apple.surfboard.hardware-assertion-service.client</key>
	<true/>
	<key>com.apple.surfboard.hardware-gesture-continuous-client</key>
	<true/>
	<key>com.apple.surfboard.immersion-client</key>
	<true/>
	<key>com.apple.surfboard.launcherservice.client</key>
	<true/>
	<key>com.apple.surfboard.legacy-placement</key>
	<false/>
	<key>com.apple.surfboard.lock-screen-client</key>
	<true/>
	<key>com.apple.surfboard.please-dont-kill-me-via-cmd-q</key>
	<true/>
	<key>com.apple.surfboard.prevent-scene-restoration</key>
	<true/>
	<key>com.apple.surfboard.scene-rendering-not-clipped</key>
	<true/>
	<key>com.apple.surfboard.scene-state-assertion</key>
	<true/>
	<key>com.apple.surfboard.scenesession-custom-focus-order</key>
	<integer>2300</integer>
	<key>com.apple.surfboard.scenesession-fov-opt-out</key>
	<true/>
	<key>com.apple.surfboard.scenesession-updates</key>
	<true/>
	<key>com.apple.surfboard.search-client</key>
	<true/>
	<key>com.apple.surfboard.setup-launch-allowed</key>
	<true/>
	<key>com.apple.surfboard.sharing-mode-client</key>
	<true/>
	<key>com.apple.surfboard.sharing-mode-launch-allowed</key>
	<true/>
	<key>com.apple.surfboard.sharingmodeservice</key>
	<true/>
	<key>com.apple.surfboard.system-elements-assertion-background-override</key>
	<true/>
	<key>com.apple.surfboard.system-elements-assertion-immersive-visible</key>
	<true/>
	<key>com.apple.surfboard.system-elements-can-show-while-locked</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<string>voice-control</string>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
</dict>
</plist>
