<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.devicesharingd</string>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.devicesharing.guest-user-mode-client</key>
	<true/>
	<key>com.apple.devicesharingd.client</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.managedassets.api.import</key>
	<true/>
	<key>com.apple.managedassets.api.serialize</key>
	<true/>
	<key>com.apple.managedassets.api.usermode</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.activitykit.ephemeralActivityRequester</key>
	<true/>
	<key>com.apple.private.activitykit.unboundedActivityRequester</key>
	<true/>
	<key>com.apple.private.application-service-browse</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<string>super</string>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.sessionkit.custom-platter-target</key>
	<true/>
	<key>com.apple.private.sessionkit.prominentPresentationAssertionRequester</key>
	<true/>
	<key>com.apple.private.sessionkit.sessionRequest</key>
	<true/>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.guestData</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.devicesharingd.guestuserremoteunlockservice</string>
		<string>com.apple.devicesharing.guestusermodeservice</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.managedassetsd</string>
		<string>com.apple.sessionservices</string>
		<string>com.apple.surfboard.authenticationservice</string>
		<string>com.apple.SBUserNotification</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.airplay</string>
		<string>com.apple.devicesharingd</string>
		<string>com.apple.RealityGuestSetup</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.devicesharingd</string>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.surfboard.authentication-client</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
