<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.thimble.thtool</string>
	<key>com.apple.PerfPowerServices.data-donation</key>
	<true/>
	<key>com.apple.aned.private.allow</key>
	<true/>
	<key>com.apple.developer.ane.increased-model-size-limit</key>
	<true/>
	<key>com.apple.modelcatalog.full-access</key>
	<true/>
	<key>com.apple.modelmanager.inferenceprovidermanager</key>
	<true/>
	<key>com.apple.private.ane.allow-set-client-hints</key>
	<true/>
	<key>com.apple.private.ane.allow-share-coalition-hints</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.UAF.FM.CodeLM</string>
		<string>com.apple.MobileAsset.UAF.FM.GenerativeModels</string>
		<string>com.apple.MobileAsset.UAF.FM.Overrides</string>
		<string>com.apple.MobileAsset.UAF.FM.Visual</string>
		<string>com.apple.MobileAsset.UAF.IF.Planner</string>
	</array>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.modelmanagerd</string>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
		<string>GenerativeModels.GenerativeFunctions.SystemInstrumentation</string>
		<string>GenerativeExperiences.TransparencyLog</string>
	</array>
	<key>com.apple.private.extensionkit.host.unsandboxed-extensions-for-extension-points</key>
	<array>
		<string>com.apple.modelmanager.inferenceprovider</string>
	</array>
	<key>com.apple.private.security.storage.MobileAssetGenerativeModels</key>
	<true/>
	<key>com.apple.private.security.storage.os_eligibility.readonly</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.runningboard.assertions.modelmanager</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>H11ANEInDirectPathClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>ANEClientHintsUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.appleneuralengine</string>
		<string>com.apple.modelcatalog.catalog</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
		<string>com.apple.PerfPowerTelemetryClientRegistrationService</string>
		<string>com.apple.mobileassetd.v2</string>
		<string>com.apple.mobileasset.autoasset</string>
		<string>com.apple.siri.uaf.service</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.tokengeneration</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>H11ANEInDirectPathClient</string>
		<string>IOSurfaceAcceleratorClient</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.appleneuralengine</string>
		<string>com.apple.modelcatalog.catalog</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
		<string>com.apple.PerfPowerTelemetryClientRegistrationService</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.tokengeneration</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>1690</string>
	</array>
	<key>vm-pressure-level</key>
	<true/>
</dict>
</plist>
