<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.remoteappintentsd</string>
	<key>com.apple.PerfPowerServices.data-donation</key>
	<true/>
	<key>com.apple.appprotectiond.guard.access</key>
	<true/>
	<key>com.apple.appprotectiond.read.access</key>
	<true/>
	<key>com.apple.diagnosticpipeline.request</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.linkd.registry</key>
	<true/>
	<key>com.apple.linkd.transcript.privileged</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.private.appintents.extension-host</key>
	<true/>
	<key>com.apple.private.application-service-browse</key>
	<true/>
	<key>com.apple.private.linkd.observationStatusRegistry</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.daemon-container</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/com.apple.PrivacyDisclosure/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.appprotectiond.guard</string>
		<string>com.apple.appprotectiond.read</string>
		<string>com.apple.diagnosticpipeline.service</string>
		<string>com.apple.linkd.extension</string>
		<string>com.apple.linkd.mediator</string>
		<string>com.apple.linkd.observationStatusRegistry</string>
		<string>com.apple.linkd.registry</string>
		<string>com.apple.linkd.transcript</string>
		<string>com.apple.PerfPowerTelemetryClientRegistrationService</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
	</array>
	<key>com.apple.security.exception.user-preference.read</key>
	<array>
		<string>com.apple.appintentssservices</string>
	</array>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.remoteappintentsd</string>
	<key>platform-application</key>
	<true/>
	<key>user-preference-read</key>
	<true/>
</dict>
</plist>
