<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.safetycheckd</string>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
		<string>com.apple.mobile.lockdown.paired_host_info/NULL</string>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/DeviceCertificate</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.safetycheckd.notifications</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.usernotifications.listener</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
	</array>
</dict>
</plist>
