<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.medialibraryd</string>
	<key>com.apple.application-identifier</key>
	<string>com.apple.medialibraryd</string>
	<key>com.apple.assistant.multiuser.service</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGEABLE_ENTITLEMENT</string>
		<string>SERVICE_ENTITLEMENT</string>
		<string>NOTIFICATION_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.intelligenceplatform.client-identifier</key>
	<string>com.apple.medialibraryd</string>
	<key>com.apple.private.intelligenceplatform.use-cases</key>
	<dict>
		<key>MediaLibrary</key>
		<dict>
			<key>Sets</key>
			<dict>
				<key>MediaLibrary.Media</key>
				<dict>
					<key>mode</key>
					<string>read-write</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>com.apple.private.privacy.accounting.write</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.access.delete</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.userprofiles.read</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.FSEvents</string>
		<string>com.apple.cache_delete</string>
		<string>com.apple.assistant.multiuser.service</string>
		<string>com.apple.medialibraryd.xpc</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.siriknowledged.koa.donate</string>
		<string>com.apple.SetStoreUpdateService</string>
		<string>com.apple.biome.access.user</string>
		<string>com.apple.biome.access.system</string>
		<string>com.apple.userprofiles</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.assistant.backedup</string>
		<string>com.apple.assistant.support</string>
	</array>
	<key>com.apple.siri.koa.donate.internal</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>fairplay-client</key>
	<integer>999035649</integer>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>medialibraryd</string>
	</array>
</dict>
</plist>
